html {
  margin: 0;
}

body {
  background: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  overflow-x: hidden;
  max-width: 100%;
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(61, 61, 61, 0.164)), 
  url('img/palette.jpeg');
  /* url('https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
}

.title {
  position: absolute;
  top: 100px;
  left: 8%;
  width: 70%;
  line-height: 50px;
}

.title h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin: 10px 0px;
}

.highlight {
  font-weight: 700;
  font-size: 26px;
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  font-size: 80px;
  font-weight: 900;
  text-transform: lowercase;
  line-height: 65px;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.384);
}

.title p {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin-top: 0;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.384);
}

/* Profile pic */
.header-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  filter: grayscale(80%);
  top: 50vh;
  right: 30px;
  margin: 20px;
  position: absolute;
}

/* Header links */
.icons {
  position: absolute; 
  top: 20px;
  right: 40px;
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
}

.icons a {
  margin: 10px;
}

.btn {
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Introduction */
.red-line {
  height: 3px;
  width: 50px;
  background: red;
  position: relative;
  float:left;
  top: 12px; 
}

.red-line::after {
  content: '';
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
  top: -3px;
  right: -1px;
  border-radius: 50%;
  background: red;
}

.intro {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(237, 233, 240, 0.623);
  max-width: 90%;
  padding: 50px 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #0A6B70;
  color: white;
  display: inline-block;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
}

.text-area {
  margin: 10px 10%;
  font-family: 'Montserrat', sans-serif;
  margin-top: 50px;
  font-size: 18px;
  line-height: 35px;
}

/* Technical intro */
.tech {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  margin: 10px 0px;
  padding: 30px 15%;
}

.tech .text-area {
  margin-top: 10px;
}

.extra {
  color: red;
  font-weight: bold;
}

/* Featured projects */
.code-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.tags {
  padding: 1px 5px;
  display: inline-block;
  /* background: rgba(173, 178, 180, 0.795);
  color: black; */
  background-color: rgb(221, 160, 47);
  font-weight: 700;
  color: white;
  margin-right: 5px;
  font-size: 11px;
}

.skills {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(237, 233, 240, 0.432);
  max-width: 100%;
  padding: 30px 10px;
}

.completedRepos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  padding: 20px;
  height: 100%;
}

.completedRepos img {
  width: 400px;
  object-fit: cover;
  height: 300px;
  filter: brightness(70%);
  display: flex;
  justify-content: center;
  transition: all .3s ease-in-out;
  margin: 0;
}

.completedRepos img:hover {
  filter: brightness(100%);
}

h4 {
  font-size: 18px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: rgb(59, 121, 129);
  margin: 0px;
  margin-top: 10px;
  text-decoration: none;
}

h4:hover {
  text-decoration: underline;
}

.skillText {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  color: black;
  margin: 3px 0px 6px 0px;
}

.skillText:hover {
  text-decoration: underline;
}

.finishedProjects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 20px;
  max-width: 100%;
  height: 100%;
}

.completedRepos a {
  color: rgb(158, 115, 115);
  text-decoration: none;
  font-weight: bolder;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  width: 400px;
  height: 100%;
}

/* List of Projects  */
.listedProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.otherProjects {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.repoList a {
  text-decoration: none;
}

.repoList {
  margin: 10px;
}

.repoList p {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin: 5px;
  text-align: left;
}

.repoList p:hover {
  font-style: italic;
}

.repoTitle {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(61, 97, 138)
}

.repoList .tags {
  background-color: rgb(221, 160, 47);
  font-weight: 700;
  color: white;
  padding: 1px 4px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Thought articles */
.listingArticles {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 20px;
}

.thoughts {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  width: 100%;
  /* padding: 30px 10%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thoughts .skillText {
  margin-top: 3px;
}

.moreThoughts {
  width: 60%;
  text-align: left;
}

.moreThoughts a {
  text-decoration: none;
}

.moreThoughts p {
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 8px;
}

.moreThoughts p:hover {
  text-decoration: underline;
}

.sprint-article {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 400px;
  margin-bottom: 10px;
}

.sprint-article a {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  max-width: 400px;
  text-decoration: none;
  text-align: left;
}

.sprint-article img {
  max-width: 400px;
  height: 300px;
  object-fit: cover;
  filter: brightness(80%);
  transition: all .3s ease-in-out;
}

.sprint-article img:hover {
  filter: brightness(100%);
}

/* Skill section */
.mySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(237, 233, 240, 0.432);
  max-width: 100%;
  margin: 0;
}

.mySkills h3 {
  background-color: #0A6B70;
}

.knowledge {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 30px;
}

.more {
  color: red;
  font-weight: bolder;
}

h5 {
  text-transform: uppercase;
  background-color: rgb(221, 160, 47);
  color: white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  margin: 10px 5px;
}

.child-know {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  margin: 0px 20px;
}

.child-know p {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 4px;
  text-align: center;
}

/* Work links */
.more-info {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(180, 180, 180);
  max-width: 90%;
  padding: 30px 10%;
  display: flex;
  justify-content: space-around;
}

.links {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 80%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px;
  transition: .4s ease-in-out;
  color: white;
}

.footer-links:hover {
  text-decoration: underline;
}

.btn-footer-img {
  height: 35px;
  width: 35px;
}

.footer-btn {
  border: 3px solid white;
  object-fit: cover;
  display: flex;
  padding: 15px;
  margin: 10px;
  border-radius: 50%;
  transition: .4s ease-in-out;
}

.more-info p {
  color: white;
  font-size: 16px;
}

.footer-btn:hover {
  /* box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.767), 0 0 10px 10px rgba(255, 255, 255, 0.753); */
  transform: scale(1.1);
}

/* Contact me section | scale down */
.contact-me {
  font-size: 18px;
  line-height: 10px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(238, 226, 237, 0.466);
  color: rgb(0, 0, 0);
  max-width: 90%;
  height: 300px;
  padding: 30px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

h6 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.603);
}

.email,
.phone {
  text-decoration: none;
  color: black;
}

.email:hover,
.phone:hover {
  text-decoration: underline;
}

/* Media query */
@media (max-width: 1024px) {
  .icons {
    top: 0;
    right: 30px;
  }

  .btn {
    height: 35px;
    width: 35px;
  }

  .btn-img {
    width: 30px;
    height: 30px;
  }

  .header-img {
    right: 0;
  }

  .child-know p {
    text-align: center;
  }

  .completedRepos {
    margin: 0;
    padding: 0;
    width: 50%
  }

  .completedRepos img {
    width: 300px;
    height: 200px;
  }

  .completedRepos a {
    width: 300px;
  }

  .finishedProjects {
    margin: 10px 0px;
    justify-content: space-evenly;
  }

  .moreThoughts {
    width: 80%;
  }

  .section-thoughts {
    flex-direction: column;
  }
}

@media (max-width: 667px) {
  .header-img {
    width: 200px;
    height: 200px;
    margin-right: 2px;
    top: 400px;
  }

  .completedRepos {
    width: 80%;
    margin: 20px 0px;
  }

  .completedRepos a {
    width: 300px;
  }

  .completedRepos img {
    width: 300px;
    height: 200px;
  }

  .completedRepos .skillText {
    font-size: 16px;
    margin: 0px 0px 8px 0px;
  }

  h1 {
    margin-top: 30px;
  }

  h2 {
    line-height: 25px;
    margin: 10px;
  }

  h3 {
    padding: 10px 2px;
  }

  .icons {
    top: 0;
    padding: 10px;
  }

  .title {
    display: flex;
    flex-direction: column;
    top: 30;
  }

  .title h2,
  .highlight {
    font-size: 18px;
    max-width: 500px;
  }

  .title h1 {
    font-size: 50px;
  }

  .title p {
    line-height: 35px;
    margin-top: 10px;
  }

  .intro {
    padding: 30px 10%;
  }

  .text-area {
    margin: 10px 0px;
    width: 100%;
  }

  .text-area {
    margin-top: 40px;
    font-size: 16px;
    line-height: 35px;
  }

  .finishedProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .otherProjects {
    width: 90%;
  }

  .sprint-article a {
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 20px 0px;
  }

  h4 {
    font-size: 18px;
  }

  .sprint-article img {
    max-width: 100%;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .sprint-article .skillText {
    width: 300px;
    margin-top: 0;
  }

  .knowledge {
    width: 100%;
    margin: 20px;
    padding: 0;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
  }

  .knowledge h5 {
    font-size: 22px;
  }

  .child-know {
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .repoList {
    margin: 10px 0px;
  }

  .repoList p {
    font-size: 16px;
  }

  .repoTitle {
    font-size: 18px;
  }

  .repoList .tags {
    margin-bottom: 5px;
  }

  .thoughts {
    font-family: 'Roboto', sans-serif;
  }

  .child-know p {
    font-size: 14px;
    margin: 3px;
  }

  .btn-footer-img {
    height: 20px;
    width: 20px;
  }

  .footer-btn {
    padding: 10px;
  }

  .more-info {
    padding: 20px 10px;
    max-width: 100%;
  }

  .more-info p {
    font-size: 16px;
  }

  .links {
    justify-content: space-around;
  }
}


